[submodule "UniGame.Core"]
	path = UniGame.Core
	url = https://github.com/UniGameTeam/UniGame.Core.git
	branch = main
[submodule "UniGame.Context"]
	path = UniGame.Context
	url = https://github.com/UniGameTeam/UniGame.Context.git
	branch = main
[submodule "UniGame.Routines"]
	path = UniGame.Routines
	url = https://github.com/UniGameTeam/UniGame.Routines.git
	branch = master
[submodule "UniGame.AsyncRoutines"]
	path = UniGame.AsyncRoutines
	url = https://github.com/UniGameTeam/UniGame.AsyncRoutines.git
	branch = main
[submodule "UniGame.Rx"]
	path = UniGame.Rx
	url = https://github.com/UniGameTeam/UniGame.Rx.git
	branch = main
[submodule "UniGame.TypeConverters"]
	path = UniGame.TypeConverters
	url = https://github.com/UniGameTeam/UniGame.TypeConverters.git
	branch = main
