[submodule "UniGame.Core"]
	path = UniGame.Core
	url = https://github.com/UniGameTeam/UniGame.Core.git
	branch = main
[submodule "UniGame.Context"]
	path = UniGame.Context
	url = https://github.com/UniGameTeam/UniGame.Context.git
	branch = main
[submodule "UniGame.Routines"]
	path = UniGame.Routines
	url = https://github.com/UniGameTeam/UniGame.Routines.git
	branch = master
